body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

#health{
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 180px;
}

#weapons{
    display: flex;
    gap: 50px;
}

.fightarena{
    display: flex;
    justify-content: center;
}

#playerweapon{
    height: 20%;
    width: auto;
}

.playerattack{
    transform: translate(70px, 15px);
}

#computerweapon{
    height: 20%;
    width: auto;
}

.computerattack{
    transform: translate(-70px, 15px);
}

button{
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    width: 100px;
    margin: auto;
    border: 3px solid black;
    background-color: transparent;
    color: black;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

button:active{
    box-shadow: none;
    transform: translate(3%, 6%);
}

#progressbar{
    background-color: black;
    padding: 3px;
    width: 170px;
}

#computerhealth{
    background-color: rgb(222, 83, 83);
    height: 20px;
}

#playerhealth{
    background-color: rgb(222, 83, 83);
    height: 20px;
}

#container{
    font-size: 40px;
    position: absolute;
    text-align: center;
}

#hittype{
    font-size: 20px;
}

.crithit{
    transform: scale(1.5);
    color: greenyellow;
}