body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

#top{
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 180px;
}

#weapons{
    display: flex;
    gap: 50px;
}

.fightarena{
    display: flex;
    justify-content: center;
}

#playerweapon{
    height: 20%;
    width: auto;
}

.playerattack{
    transform: translate(70px, 15px);
}

#computerweapon{
    height: 20%;
    width: auto;
}

.computerattack{
    transform: translate(-70px, 15px);
}

button{
    height: auto;
    width: 100px;
    margin: auto;
}

#progressbar{
    background-color: black;
    padding: 3px;
    width: 170px;
}

#computerhealth{
    background-color: rgb(222, 83, 83);
    height: 20px;
}

#playerhealth{
    background-color: rgb(222, 83, 83);
    height: 20px;
}


#hit{
    font-size: 40px;
    position: absolute;
}